.item,
.featuredItem {
  background-color: #fff;
  border-radius: 0.3rem;
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  margin-bottom: 2.5rem;
  position: relative;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
}

.featuredItem {
  border-left: 5px solid hsl(180, 29%, 50%);
}

.item .container,
.featuredItem .container {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: -1.5rem;
  left: 1.5rem;
}

.featuredItem .container {
  left: 1.2rem;
}

.container img {
  width: 100%;
}

.company {
  display: flex;
  align-items: center;
  margin-bottom: 0.9rem;
}

h2 {
  color: hsl(180, 29%, 50%);
  font-size: 0.94rem;
  margin-right: 1.6rem;
}

.newBadge,
.featuredBadge {
  font-size: 0.85rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  padding: 0.4rem 0.5rem 0.2rem 0.5rem;
  border-radius: 1rem;
}

.newBadge {
  background-color: hsl(180, 29%, 50%);
  margin-right: 0.5rem;
}

.featuredBadge {
  background-color: hsl(180, 14%, 20%);
}

h1 {
  color: hsl(180, 14%, 20%);
  font-size: 0.96rem;
  margin-bottom: 1.1rem;
  cursor: pointer;
}

.details {
  margin-bottom: 1.2rem;
}

.details > span {
  color: hsl(180, 8%, 52%);
  font-size: 1rem;
  margin-right: 0.4rem;
}

hr {
  margin-bottom: 1rem;
}

.tablets {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.tablets > div {
  color: hsl(180, 29%, 50%);
  background-color: hsl(180, 31%, 95%);
  font-size: 1rem;
  font-weight: 700;
  border-radius: 0.2rem;
  padding: 0.5rem;
  cursor: pointer;
}

@media (max-width: 19.4rem) {
  .company {
    flex-direction: column;
    align-items: flex-start;
  }
  .featuredBadge,
  .newBadge {
    margin-top: 0.8rem;
  }
  .details {
    line-height: 1.6rem;
  }
}

@media (hover: hover) {
  h1:hover {
    color: hsl(180, 29%, 50%);
  }
  .tablets > div:hover {
    background-color: hsl(180, 29%, 50%);
    color: #fff;
  }
}

@media (min-width: 67rem) {
  section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  section > :first-child {
    display: flex;
    align-items: center;
  }
  .item,
  .featuredItem {
    border-radius: 0.3rem;
    padding: 2rem 2.5rem 2rem 2.2rem;
    margin-bottom: 1.6rem;
  }
  .item {
    padding-left: calc(2.2rem + 0.3125rem);
  }
  .item .container,
  .featuredItem .container {
    width: 5.5rem;
    height: 5.5rem;
    position: static;
    margin-right: 1.5rem;
  }
  h2 {
    font-size: 1.15rem;
    margin-right: 1rem;
  }
  h1 {
    font-size: 1.36rem;
    margin-bottom: 0.9rem;
  }
  .details {
    margin-bottom: 0;
  }
  .details > span {
    font-size: 1.1rem;
    margin-right: 0.85rem;
  }
  hr {
    display: none;
  }
  .tablets {
    justify-content: flex-end;
  }
}
