.higher,
.lower {
  width: 87%;
  max-width: 34rem;
  margin: auto;
  list-style: none;
}

.lower {
  margin-top: 5.8rem;
}

.lower > :last-child,
.higher > :last-child {
  margin-bottom: 0;
}

.selections {
  background-color: #fff;
  border-radius: 0.3rem;
  padding: 1.2rem;
  margin-bottom: 3.6rem;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filters {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.filters > div {
  color: hsl(180, 29%, 50%);
  background-color: hsl(180, 31%, 95%);
  font-size: 1rem;
  font-weight: 700;
  border-radius: 0.2rem;
  padding: 0.5rem;
  padding-right: 2.4rem;
  position: relative;
  overflow: hidden;
}

.filters div div {
  background-color: hsl(180, 29%, 50%);
  height: 100%;
  width: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

button {
  color: hsl(180, 8%, 52%);
  background: transparent;
  outline: none;
  border: none;
  font: inherit;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

@media (max-width: 19.4rem) {
  .higher,
  .lower {
    width: 94%;
  }
}

@media (hover: hover) {
  button:hover {
    text-decoration: underline;
    color: hsl(180, 29%, 50%);
  }
  .filters div div:hover {
    background-color: hsl(180, 14%, 20%);
  }
}

@media (min-width: 67rem) {
  .lower,
  .higher {
    max-width: 69.2rem;
  }
  .lower {
    margin-top: 7rem;
  }
  .lower > :last-child,
  .higher > :last-child {
    margin-bottom: 5.5rem;
  }
  .selections {
    padding: 1.2rem;
    padding-inline: calc(2.2rem + 0.3125rem);
    margin-bottom: 2.5rem;
  }
}
